{% include "./includes/header.html" %}


 <div class="content-main">
                        <div class="row margin-b-30">
                            <div class="">
                                <div class="banner-main-base">
                                    <div>
                                        <div class="heading">
                                            <h1>Contact Us</h1>

                                        </div>
                                        <div class="contact-main-wraper">
                                            <div class="contact-left">
                                               <h3>Reach Us</h3>
                                                <p>100 Feet Ring Road,<br />
                                                BSK III Stage,<br/>
                                                Banglore-560085<br/>
                                                <i class="fa fa-phone" aria-hidden="true"></i> :
                                                    +91 8026721983,<br/>
                                               <i class="fa fa-phone" aria-hidden="true"></i> :
                                                    +91 8026722108<br/>
                                                <i class="fa fa-envelope" aria-hidden="true"></i> : info@adfactory.com</p>
                                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.589352114196!2d77.5321162143823!3d12.934094019200744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3e468d8d36d3%3A0x694d74f6ac640acf!2sPES+University!5e0!3m2!1sen!2sin!4v1476454955581"
                                                        frameborder="1" style="border:0" allowfullscreen></iframe>

                                            </div>
                                            <div class="contact-right">
                                                <table>
                                                    <form>
                                                        <tr>
                                                            <td><b>Name:</b></td>
                                                            <td><input type="text" id="name" name="name" placeholder="Enter Your Name"></td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Email:</b></td>
                                                            <td><input type="email" id="email" name="email" placeholder="example@some.com"></td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Contact No.:</b></td>
                                                            <td><input type="text" id="contact" name="contact" placeholder="+91 xxxxxxxxxx"></td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Comment/Message</b></td>
                                                            <td>
                                                                <textarea id="message" name="message" rows="7" cols="33" >Please leave your message here...</textarea>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                            <td>
                                                                <button type="button" style="padding: 10px; color: white;" class="">SUBMIT</button>

                                                            </td>
                                                        </tr>

                                                    </form>
                                                </table>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                                          </div> <!-- .content-main -->
                </div> <!-- .main-page -->
            </div> <!-- .row -->







{% include "./includes/footer.html" %}