{% extends "./base.html" %}
{% block content %}

    <div class="content-main">
                        <div class="row margin-b-30">
                            <div class="">
                                <div class="banner-main-home">
                                    <div class="">
                                        <div class="heading">
                                            <h1>logout
                                            </h1>

                                        </div>
                                        <div class="desc">
                                            <p>Logout SUCCESSFUL</p>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                                          </div> <!-- .content-main -->
                </div> <!-- .main-page -->
            </div> <!-- .row -->

{% endblock %}
