{% extends "./base.html" %}
{% block content %}

    <div class="content-main">
                        <div class="row margin-b-30">
                            <div class="">
                                <div class="banner-main-home">
                                    <div class="">
                                        <div class="heading">
                                            <h1>Bank Details</h1>

                                        </div>
                                        <div class="desc">
                                            <div class="form">
                                                <form action="post/" method="post">
                                                    {% csrf_token %}
                                                    {{ form.as_p }}
                                                    <button type="submit">SUBMIT</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                                          </div> <!-- .content-main -->
                </div> <!-- .main-page -->
            </div> <!-- .row -->

{% endblock %}
