<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}">
    <script src="{% static 'login/script.js' %}"></script>
</head>
<body>
<div class="login-page">
  <div class="form">
      <h1>Admin</h1>
    <form action="login/" method="post">
          {% csrf_token %}

          {{ form.as_p }}
          <button type="submit">Get me in</button>
      </form>

  </div>
</div>
</body>
</html>